<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>D18-chall</title>
</head>
<body>
    <div id="container">
        <div class="head">
            <div class="outl2"></div>
            <div class="outl"></div>
            <div class="avatar"></div>
        </div>
        <div class="main">
            <h2>Enter key to get something</h2>
            <p>Your key</p>
            <form method="POST">
                <input type="text" placeholder="Pass" name="pass"> <br>
                <button>SUBMIT</button>
            </form>
            {%if check==true %}
            <div class="pict"><img src="{{link}}" alt=""></div>
            {%endif%}
            </div>
        </div>
    </div>

</body>
</html>